.bg-transparent
    background: transparent !important

body.body--light
    background: rgba(255,255,255,1)
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)))
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 )

    .q-toolbar
        color: $dark

body.body--dark
    background: #222
    background: -moz-linear-gradient(45deg, #000 0%, #181818 47%, #222 100%)
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #000), color-stop(47%, #181818), color-stop(100%, #222))
    background: -webkit-linear-gradient(45deg, #111 0%, #181818 47%, #222 100%)
    background: -o-linear-gradient(45deg, #111 0%, #181818 47%, #222 100%)
    background: -ms-linear-gradient(45deg, #111 0%, #181818 47%,#222 100%)
    background: linear-gradient(45deg, #111 0%,#181818 47%, #222 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#222', GradientType=1 )

    .q-toolbar
        color: $light
.q-dark
    background: #252525

footer ul
    list-style: none
    padding-inline-start: 0px

footer ul li
    display: inline-block
    color: $grey
    text-decoration: none

footer ul li a
    color: $grey
    text-decoration: none

footer ul li a:hover
    color: $primary
